<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.url">jdbc:mariadb://localhost:3306/energymon</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>

        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property>

        <property name="show_sql">true</property>


        <mapping class="gent.cyber.energymon.models.MeterReading" />
        <mapping class="gent.cyber.energymon.models.EnergyPayment" />
    </session-factory>
</hibernate-configuration>